@font-face {
    font-family: Minecraft;
    src: url(Minecraft.ttf);
}
@font-face {
    font-family: Enchant;
    src: url(Minecraft_Galactic.ttf);
}

.Sites-Btn{
    color: chartreuse;
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.400);
    border: ridge 6px green;
    cursor: pointer;
}
 
body{
    background-color: rgb(87, 86, 86);
    font-family: Minecraft;
}

button{
    font-family: Minecraft;
}