#title {
    font-size: 60px;
    text-shadow: 5px 5px 5px green;
    color: aliceblue;
    position: absolute;
    width: 500px;
    z-index: 10px;
    top: 50px;
    right: 150px;
}
#subtitle {
    font-size: 10px;
    text-shadow: 3px 3px 3px green;
    color:aliceblue;
    position: absolute;
    width: 500px;
    z-index: 10px;
    top: 130px;
    right: 150px;
}

#options {
    position: fixed;
    z-index: 10px;
    width: 34.5%;
    height: 100%;
    border-right: 5px ridge rgb(87, 86, 86);
    text-align: center;
    color: aliceblue;
}

.Mc-Btn {
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.400);
    border: ridge 6px black;
    width: 300px;
    cursor: pointer;
}

/*List Items*/
.serverInfo {
    color: blue;
    text-shadow: 5px 5px 5px cyan;
}

#itemAdd {
    background-color: black;
    border: green 5px ridge;
    color: aliceblue;
    width: 500px;
    height: 150px;
    padding: 5px;
    font-family: Minecraft;
}

.listItem {
    color: aliceblue;
    text-shadow: 5px 5px 5px grey;
    font-size: 15px;
    display: inline;
}

.listItem h4,
p {
    width: 80%;
}

.listSection {
    border-bottom: ridge 5px green;
}

#selectionItem {
    color: aliceblue;
    background-color: black;
    border: ridge 5px green;
    width: 300px;
    padding: 5px;
}

.deletebtn {
    z-index: 10px;
    position: relative;
    float: right;
    border: ridge 5px red;
    background-image: url(icons/Creeper.png);
    background-size: 30px;
    width: 40px;
    height: 40px;
}

/*Special Text*/

#configurations {
    background-image: url(Assets/StoneBar.png);
}

.specialAdd {
    background-color: purple;
    border: 5px green ridge;
    color: aliceblue;
}


.sp {
    color: purple;
}

.sg {
    color: chartreuse;
}

.sr {
    color: red;
}

.sb {
    color: cyan;
}

.sEnchant {
    font-family: Enchant;
    text-transform: uppercase;
}

#configs{
    color: azure;
    text-align: right;
}

#configs label{
    float: left;
}

#configs .active{
    background-color: greenyellow;
    color: gray;
}
#configs .desactive{
    background-color: red;
    color: aliceblue;
}


#infoBox{
    background-image: url(Assets/StoneBar.png);
    color: aliceblue;
    text-align: center;
    border: ridge black 5px;
}

#closebutton{
    background-color: rgba(0, 0, 0, 0.500);
    border: outset black 2px;
    color: antiquewhite;
}
#closebutton:hover{
    color: red;
}
#boxheader{
    float: left;
}
#dangerButton{
    border: 2px red outset;
    background-color: orange;
}
.list-passbox{
    color:magenta;
    border: magenta 2px inset;
    background-color: black;
}
.list-passbtn{
    border:outset green 2px;
    background-color: aqua;
    color:green
}