#title {
    font-size: 60px;
    text-shadow: 5px 5px 5px green;
    color: aliceblue;
    position: absolute;
    width: 500px;
    z-index: 10px;
    top: 50px;
    right: 150px;
}

#options {
    position: fixed;
    z-index: 10px;
    width: 34.5%;
    height: 100%;
    border-right: 5px ridge rgb(87, 86, 86);
    text-align: center;
    color: aliceblue;
}

.Mc-Btn {
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.400);
    border: ridge 6px black;
    width: 300px;
    cursor: pointer;
}

/*List Items*/
.serverInfo {
    color: blue;
    text-shadow: 5px 5px 5px cyan;
}

#itemAdd {
    background-color: black;
    border: green 5px ridge;
    color: aliceblue;
    width: 300px;
    padding: 5px;
    font-family: Minecraft;
}

.listItem {
    color: aliceblue;
    text-shadow: 5px 5px 5px grey;
    font-size: 15px;
    display: inline;
}

.listItem h4,
p {
    width: 80%;
}

.listSection {
    border-bottom: ridge 5px green;
}

#selectionItem {
    color: aliceblue;
    background-color: black;
    border: ridge 5px green;
    width: 300px;
    padding: 5px;
}

.deletebtn {
    z-index: 10px;
    position: relative;
    float: right;
    border: ridge 5px red;
    background-image: url(icons/Creeper.png);
    background-size: 30px;
    width: 40px;
    height: 40px;
}

/*Special Text*/

#specialText {
    background-image: url(Assets/StoneBar.png);
}

#commandbar {
    background-color: dimgray;
    border: 5px purple ridge;
    color: aliceblue;
    width: 600px;
    height: 200px;
    font-family: Minecraft;
}

.specialAdd {
    background-color: purple;
    border: 5px green ridge;
    color: aliceblue;
}


.sp {
    color: purple;
}

.sg {
    color: chartreuse;
}

.sr {
    color: red;
}

.sb {
    color: cyan;
}

.sEnchant {
    font-family: Enchant;
    text-transform: uppercase;
}